<h1>{{ user.name }}</h1>

<mat-tab-group mat-align-tabs="center">
  <mat-tab label="Primary Details">
    <mat-card>
      <ul>
        <li><strong>Username: </strong>{{ user.username }}</li>
        <li><strong>Email: </strong>{{ user.email }}</li>
        <li><strong>Phone: </strong>{{ user.phone }}</li>
      </ul>
    </mat-card>
  </mat-tab>
  <mat-tab label="Address">
    <mat-card>
      <strong>Address: </strong>
      <table>
        <tr>
          <td>
            <strong>Street: </strong>
          </td>
          <td>
            {{ user.address.street }}
          </td>
        </tr>

        <tr>
          <td>
            <strong>Suite: </strong>
          </td>
          <td>
            {{ user.address.suite }}
          </td>
        </tr>

        <tr>
          <td>
            <strong>City: </strong>
          </td>
          <td>
            {{ user.address.city }}
          </td>
        </tr>

        <tr>
          <td>
            <strong>ZipCode: </strong>
          </td>
          <td>
            {{ user.address.zipcode }}
          </td>
        </tr>

      </table>
    </mat-card>
  </mat-tab>
  <mat-tab label="Company">
    <mat-card>
      <strong>Company: </strong>
      <table>

        <tr>
          <td>
            <strong>Company Name: </strong>
          </td>
          <td>
            {{ user.company.name }}
          </td>
        </tr>

        <tr>
          <td>
            <strong>Catchphrase: </strong>
          </td>
          <td>
            {{ user.company.catchPhrase }}
          </td>
        </tr>

        <tr>
          <td>
            <strong>BS: </strong>
          </td>
          <td>
            {{ user.company.bs }}
          </td>
        </tr>

        <tr>
          <td>
            <strong>ZipCode: </strong>
          </td>
          <td>
            {{ user.address.zipcode }}
          </td>
        </tr>

      </table>
    </mat-card>
  </mat-tab>
</mat-tab-group>
