<h1>Users</h1>
<div fxLayout="row wrap" fxLayoutGap="16px grid">
  <div fxFlex="25%" *ngFor="let user of users">
    <mat-card class="example-card">
      <mat-card-subtitle>Username: {{ user.username }}</mat-card-subtitle>
      <mat-card-subtitle>Email: {{ user.email }}</mat-card-subtitle>
      <mat-card-title>Name: {{ user.name }}</mat-card-title>
      <mat-card-content>
        <p>
          <a href="http://{{user.website}}">{{ user.website }}</a>
        </p>
      </mat-card-content>
      <mat-divider inset></mat-divider>
      <mat-card-actions>
        <button mat-raised-button routerLink="/details/{{ user.id }}">VIEW</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
